In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller

In [12]:
df = pd.read_csv("../data/processed/GOOGL.csv", parse_dates=['Date']).set_index('Date')
numeric_cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'log_returns']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')
df.drop('NaT')

df.head()

,Price,Open,High,Low,Close,Volume,log_returns
Date,,,,,,,
NaT,Ticker,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-28,2,63.485354,66.880045,63.181455,66.720627,80198000.0,0.018311
2020-03-02,3,67.325446,69.122923,66.020674,69.065636,55430000.0,0.034543
2020-03-03,4,69.631589,70.155189,66.221945,66.644417,56602000.0,-0.035686
2020-03-04,5,67.702568,68.889267,66.608534,68.830482,47598000.0,0.032275

In [13]:
# Trasformazioni logaritmica
df['log_close'] = np.log(df['Close'])

#Differenzazione di ordine 1
df['diff_log_close'] = df['log_close'].diff(1).dropna()
df.head()

,Price,Open,High,Low,Close,Volume,log_returns,log_close,diff_log_close
Date,,,,,,,,,
NaT,Ticker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-28,2,63.485354,66.880045,63.181455,66.720627,80198000.0,0.018311,4.200514,NaN
2020-03-02,3,67.325446,69.122923,66.020674,69.065636,55430000.0,0.034543,4.235057,0.034543
2020-03-03,4,69.631589,70.155189,66.221945,66.644417,56602000.0,-0.035686,4.199371,-0.035686
2020-03-04,5,67.702568,68.889267,66.608534,68.830482,47598000.0,0.032275,4.231647,0.032275

In [16]:
def test_adf(series):
    result = adfuller(series.dropna())
    print(f"ADF STatistics: {result[0]:.4f}")
    print(f"p-values: {result[1]:.4f}")
    print(f"used-lag: {result[2]:.4f}")
    print("Critical Values:")
    for key, value in result[4].items():
        print(f"\t{key}: {value:.4f}")

print("Test sulla serie originale:")
test_adf(df['Close'])

print("\nTest sulla serie differenziata:")
test_adf(df['diff_log_close'])

Test sulla serie originale:
ADF STatistics: -1.3232
p-values: 0.6185
used-lag: 0.0000
Critical Values:
	1%: -3.4357
	5%: -2.8639
	10%: -2.5680

Test sulla serie differenziata:
ADF STatistics: -21.4674
p-values: 0.0000
used-lag: 2.0000
Critical Values:
	1%: -3.4357
	5%: -2.8639
	10%: -2.5680